.wrapper{
    width: 300px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imageWrapper{
    width: 100%;
    height: 150px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}