.examplesBlock{
    min-height: 100vh;
    max-height: max-content;
    background-color: #8c8cfc;
}
.container{
    min-height: 100vh;
    max-height: max-content;
    width: 80%;
    background-color: #ababff;
    margin: 0 auto;
}
.titleWrapper{
    background-color: #b3b3fc;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.examplesWrapper{
    height: calc(100% - 80px);
    background-color: #c3c3ff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}